<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dsgasdfhg.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,966},{87,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,244}}</string>
                <key>sourceSize</key>
                <string>{87,244}</string>
            </dict>
            <key>dzxvgdgdsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,482}}</string>
                <key>sourceSize</key>
                <string>{118,482}</string>
            </dict>
            <key>fdhsfdhdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1212},{132,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,48}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>sdfhjdfsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{108,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,474}}</string>
                <key>sourceSize</key>
                <string>{108,474}</string>
            </dict>
            <key>sdfhjsdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,478},{91,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,457}}</string>
                <key>sourceSize</key>
                <string>{91,457}</string>
            </dict>
            <key>sdfjfshdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{71,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,408}}</string>
                <key>sourceSize</key>
                <string>{71,408}</string>
            </dict>
            <key>sfdhgdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,937},{77,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,444}}</string>
                <key>sourceSize</key>
                <string>{77,444}</string>
            </dict>
            <key>sfdhsdfhsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{123,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,478}}</string>
                <key>sourceSize</key>
                <string>{123,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{243,1383}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e7ba48b97432277b4d3c960ce6f5271:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
